.grid.col-2.p-3.bg-white.hover:bg-gray-100.shadow-md.border.border-gray-200.rounded-lg.max-w-sm{id: "#{dom_id employee}"}
  %p.my-5
    %strong.block.font-medium.mb-1 First name:
    = employee.first_name
  %p.my-5
    %strong.block.font-medium.mb-1 Last name:
    = employee.last_name
  %p.my-5
    %strong.block.font-medium.mb-1 Email:
    = employee.email
  %p.my-5
    %strong.block.font-medium.mb-1 Password:
    = employee.password
  %p.my-5
    %strong.block.font-medium.mb-1 Phone number:
    = employee.phone_number
  %p.my-5
    %strong.block.font-medium.mb-1 Date employment started:
    = employee.date_employment_started
  %p.my-5
    %strong.block.font-medium.mb-1 Employment:
    = employee.employment
  %p.my-5
    %strong.block.font-medium.mb-1 Date employment ended:
    = employee.date_employment_ended
%hr.mt-6/
