.mx-auto.w-full{class: "md:w-2/3"}
  = turbo_frame_tag "modal" do
    = tag.div style: "padding: 30px;" do
      = render "form", employee: @employee
  = turbo_frame_tag 'employment-modal' do
    = tag.div style: "padding: 30px;" do
      = render "employment_form", employee: @employee
